.fade-enter {
    opacity: 0.01;
    transform: scale(0.9) translateY(-50%);
}

.fade-enter-active{
    opacity: 1;
    transition: all 200ms ease-out;
    transform: scale(1) translateY(0%);
}

.fade-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
}

.fade-exit-active{
    opacity: 0.01;
    transition: all 200ms ease-out;
    transform: scale(0.9) translateY(-50%);
}